body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

.page {
  background-color: #000;
  color: white;
  min-height: 100vh;
  text-align: center;
  padding-top: 100px;
}

.page__icon {
  font-size: 40px;
}

.page__title {
  font-size: 50px;
}

.page__list {
  max-width: 200px;
  margin: 0 auto;
  text-align: left;
}
